*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

li {
  list-style-type: none;
}
