@import url('reset.css');
@import url('fonts.css');

[class*='__container'] {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background-color: green;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
.menu__item {
  display: inline-block;
  padding: 10px;
  position: relative;
}
.menu__item:hover {
  background-color: violet;
  text-decoration: underline;
}
.menu__item:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
}
.menu__item:not(:last-child) {
  margin-right: 15px;
}
.menu__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #77608d;
  opacity: 0;
  visibility: hidden;
  width: 200px;
  padding: 10px;
}
.submenu__item:hover {
  text-decoration: underline;
}
.submenu__item {
  position: relative;
}
.submenu__item:not(:last-child) {
  margin-bottom: 20px;
}
.submenu__submenu-level-2 {
  top: 0;
  left: 100%;
  position: absolute;
  background-color: #77608d;
  width: 200px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
}
.submenu__item:hover .submenu__submenu-level-2 {
  visibility: visible;
  opacity: 1;
}
.submenu__level-2-item:not(:last-child) {
  margin-bottom: 20px;
}
.submenu__level-2-link:hover {
  text-decoration: underline;
}
.face {
  text-align: center;
}
.face--margin {
  margin-top: 100px;
}
.face__title {
  font-size: 20px;
  margin-bottom: 48px;
}
.face__row {
  font-size: 0;
  margin-bottom: 80px;
}
.face__column {
  display: inline-block;
  position: relative;
}
.face__content::after {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.face__content:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
.face__column:not(:last-child) {
  margin-right: 123px;
}
.face__column .face__content {
  font-size: 16px;
}
.face__text-content {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 3%;
  color: #fff;
  text-align: center;
  z-index: 2;
}
.face__suptitle {
  padding-bottom: 126px;
  font-size: 28px;
}
.face__subtitle {
  font-size: 17px;
}
.face__subtitle:hover {
  text-decoration: underline;
}
.face__btn {
  border: 1px solid black;
  padding: 10px 50px;
}
.face__btn:hover {
  text-decoration: underline;
}
.subscription {
  padding: 20px;
}
.subscription__container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}
.subscription__item {
  position: relative;
  color: #252b42;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.71;
  padding-left: 40px;
  min-height: 32px;
}
.subscription__item:not(:last-child) {
  margin-bottom: 15px;
}
.subscription__item::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: '';
  background: url('../img/check.png') 0 0/100% no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}
.subscription__item--no-active::before {
  background: url('../img/check-gray.png') 0 0/100% no-repeat;
}
