@import url('./fonts.css');
@import url('./reset.css');

[class*='__container'] {
  max-width: 1422px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex-grow: 1;
}

.header {
  background-color: #fff;
}
.header__container {
  min-height: 164px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  column-gap: 80px;
  row-gap: 10px;
  align-items: center;
}

.header__logo img {
  max-width: none;
  width: 200px;
}
.header__search {
  flex: 0 1 264px;
  display: flex;
  border-bottom: 2px solid #d4d4d4;
  width: 264px;
}
.header__search button {
  background: url('../img/search.svg') left no-repeat;
  width: 15px;
  flex-shrink: 0;
}
.header__search input {
  height: 42px;
  padding: 0 12px;
}
.header__search input::placeholder {
  color: #7e7f7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.header__menu {
  flex: 1 1 auto;
}
.menu-header {
}
.menu-header__list {
  display: flex;
  column-gap: 44px;
  row-gap: 10px;
  align-items: center;
}
.menu-header__item {
  position: relative;
}
.menu-header__link {
  color: #2f302c;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
.menu-header__item:nth-child(2)::after {
  position: absolute;
  content: '';
  background: url('../img/menu-shop-icon.svg') no-repeat;
  width: 10px;
  height: 6px;
  top: 50%;
  left: 120%;
  transform: translate(-50%, -50%);
}
.header__actions {
  display: flex;
  gap: 52px;
}
.actions-header {
  cursor: pointer;
}
.actions-header__love,
.actions-header__cart {
  color: #2f302c;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  display: flex;
  gap: 4px;
}
.header__icon {
  display: none;
}

@media (width<1422px) {
  .header__container {
    gap: 5px 40px;
    min-height: 100px;
  }
  .menu-header__list,
  .actions-header {
    gap: 5px 22px;
    justify-content: center;
  }
}

@media (width<=992px) {
  .header__search {
    flex-basis: 200px;
  }
  .header__logo {
    width: 37px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .menu-header__list {
    gap: 16px;
  }
  .header__container {
    gap: 28px;
  }
}

@media (width<768px) {
  .header__icon {
    display: block;
    position: relative;
    width: 47px;
    height: 18px;
  }
  .header__icon span,
  .header__icon::before,
  .header__icon::after {
    content: '';
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    background-color: #2f302c;
    transition: all 0.3s;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    background-color: #f6f6f6;
    z-index: 4;
    padding: 120px 15px 30px 15px;
    overflow: auto;
    transition: 0.3s left;
  }
  .menu-header__active {
    left: 0;
  }
  .header__icon-active span {
    display: none;
  }

  .header__icon-active::before {
    top: 50%;
    translate: 0 -50%;
    transform: rotate(-45deg);
  }
  .header__icon-active::after {
    bottom: 50%;
    translate: 0 50%;
    transform: rotate(45deg);
  }
  .menu-header::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: #fff;
  }
  .menu-header__list {
    flex-direction: column;
    row-gap: 28px;
  }
  .menu-header__link {
    font-size: 26px;
  }
  .header__logo,
  .header__search,
  .header__icon,
  .header__actions {
    z-index: 5;
  }
  .header__container {
    gap: 15px;
  }

  .actions-header__love,
  .actions-header__cart {
    font-size: 0;
    width: 30px;
    height: 30px;
    padding-left: 0;
    background-size: 100%;
  }
  .header__search {
    border: none;
    flex-grow: 1;
  }
  .header__search button {
    display: none;
  }
  .header__search input {
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/*_________________FUNITURE___________________*/

.funiture {
  background-image: url('../img/funiture-background.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 612px;
  position: relative;
  z-index: 2;
}
.funiture__container {
  padding: 114px 0;
}
.funiture__content {
  max-width: 650px;
  margin-left: auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.funiture__suptitle,
.funiture__subtitle {
  color: #2f302c;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}
.funiture__title {
  color: #2f302c;
  font-size: 96px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 1.04;
  margin-bottom: 52px;
  position: relative;
}
.funiture__title::after {
  position: absolute;
  bottom: -16px;
  left: 10px;
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #2f302c;
}

.funiture__text p {
  color: #7e7f7c;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

@media (width<=992px) {
  .funiture__suptitle,
  .funiture__subtitle {
    margin-bottom: 40px;
  }
  .funiture__title {
    font-size: 70px;
  }
}

@media (width<540px) {
  .funiture__suptitle,
  .funiture__subtitle {
    margin-bottom: 20px;
  }
  .funiture {
    min-height: 300px;
  }
  .funiture::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .funiture__content > * {
    color: #fff;
  }
  .funiture__title {
    font-size: 50px;
  }
  .funiture__title::after {
    background-color: #fff;
  }
  .funiture__text p {
    color: #fff;
  }
  .funiture__container {
    padding: 15px 0;
  }
  .funiture__title {
    margin-bottom: 40px;
  }
}
