@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@font-face {
  font-family: 'Praysire Demo';
  src: url(../fonts/Praysiredemo.woff2);
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
