*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

label {
  display: inline-block;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-s-star"]::before {
  content: "\e909";
}

[class*="--icon-s-shoping-bag"]::before {
  content: "\e90b";
}

[class*="--icon-s-shevron"]::before {
  content: "\e90a";
}

[class*="--icon-s-select-arrow"]::before {
  content: "\e904";
}

[class*="--icon-s-search"]::before {
  content: "\e90d";
}

[class*="--icon-s-twitter"]::before {
  content: "\e906";
}

[class*="--icon-s-pinterest"]::before {
  content: "\e908";
}

[class*="--icon-s-instagram"]::before {
  content: "\e907";
}

[class*="--icon-s-facebook"]::before {
  content: "\e905";
}

[class*="--icon-s-plus"]::before {
  content: "\e902";
}

[class*="--icon-s-minus"]::before {
  content: "\e903";
}

[class*="--icon-s-list"]::before {
  content: "\e900";
}

[class*="--icon-s-grid"]::before {
  content: "\e901";
}

[class*="--icon-s-favorite"]::before {
  content: "\e90c";
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(23.75rem, 100%), 1fr));
  gap: 2.25rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.item__link {
  aspect-ratio: 440/574;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item__link--top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item__link--bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.item__img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body {
  font-family: "Lato";
  font-weight: 500;
  color: #2f302c;
}

[class*=__container] {
  padding-inline: toRem(15);
  max-width: 1422px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: clip;
  color: #2f302c;
}