@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
  font-family: 'Circular-Medium', serif;
  src: url('../fonts/CircularStd-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular-Black', serif;
  src: url('../fonts/CircularStd-Black.woff2') format('woff2');
  font-weight: 900;
}
