*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
