@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Medium.woff2') format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato', sans-serif;
  src: url('../fonts/Lato-ExtraBold.woff2') format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
