@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*='--icon-'] {
  &::before {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
[class*='--icon-s-star']::before {
  content: '\e909';
}
[class*='--icon-s-shoping-bag']::before {
  content: '\e90b';
}
[class*='--icon-s-shevron']::before {
  content: '\e90a';
}
[class*='--icon-s-select-arrow']::before {
  content: '\e904';
}
[class*='--icon-s-search']::before {
  content: '\e90d';
}
[class*='--icon-s-twitter']::before {
  content: '\e906';
}
[class*='--icon-s-pinterest']::before {
  content: '\e908';
}
[class*='--icon-s-instagram']::before {
  content: '\e907';
}
[class*='--icon-s-facebook']::before {
  content: '\e905';
}
[class*='--icon-s-plus']::before {
  content: '\e902';
}
[class*='--icon-s-minus']::before {
  content: '\e903';
}
[class*='--icon-s-list']::before {
  content: '\e900';
}
[class*='--icon-s-grid']::before {
  content: '\e901';
}
[class*='--icon-s-favorite']::before {
  content: '\e90c';
}
