%h1-32-extrabold {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.25;
}
%h1-32-bold {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
}
%h1-32-medium {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
}
